@use 'helpers' as *;

:root{
    --color-back-header: #FAF3E3;
    --color-back-button: #B59C82;
    --color-back-footer: rgba(107, 65, 30, 0.5);

    --color-white: #ffffff;
    --color-dark:#000000;

    --color-icon:#000000;

    --color-accent:#6B411E;

    --filter: blur(16px);

    --shadow: 0 rem(4) rem(4) 0 rgba(82, 50, 23, 0.25);
    

    --border-white: #{rem(1)} solid var(--color-white);
    --border-accent: #{rem(1)} solid var(--color-accent);

    --font-family-base:'Cormorant Garamond', sans-serif;
    --font-family-accent:'Manrope', sans-serif;

    --container-width: #{rem(1344)};
    --container-padding-x: #{rem(24)};

    --transition-duration: 0.2s;

    @include laptop{
        --container-width: #{rem(928)};
    }
}